<div class="max-w-screen-xl p-6 mx-auto bg-white shadow-md rounded-xl">
  <h2 class="mb-6 text-2xl font-medium text-gray-800">
    Créer une Carte d'inspection
  </h2>

  <div class="grid grid-cols-3 gap-8">
    <form class="grid grid-cols-3 col-span-3 gap-6">

      <!-- Champ Rapport Inspection -->
      <div>
        <label for="fonctionnementEtat"
          class="block mb-2 text-sm font-medium text-gray-800">
          Rapport Inspection
        </label>
        <select id="fonctionnementEtat" name="etatFonctionnement"
          [(ngModel)]="badge.certificatControl.id"
          (ngModelChange)="saveForm()"
          class="bg-gray-50 border border-gray-800 text-gray-800 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5"
          required>
          <option>Sélectionnez un Rapport d'inspection</option>
          <option [value]="rapport.id"
            *ngFor="let rapport of certificatControls">
            {{ rapport.numeroRapport }}
          </option>
        </select>
      </div>

      <!-- Champ Validité -->
      <div>
        <label for="validite"
          class="block mb-2 text-sm font-medium text-gray-800">
          Validité
        </label>
        <select id="validite" name="validite" [(ngModel)]="badge.validite"
          (ngModelChange)="saveForm()"
          class="bg-gray-50 border border-gray-800 text-gray-800 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5"
          required>
          <option value>Sélectionnez une Validité</option>
          <option *ngFor="let mois of moisOptions" [value]="mois.value">
            {{ mois.label }}
          </option>
        </select>
      </div>

      <!-- Champ Numéro du Parc -->
      <div>
        <label for="numeroRapport"
          class="block mb-2 text-sm font-medium text-gray-800">
          Numéro du Parc
        </label>
        <input type="text" id="numeroRapport" placeholder="Numéro du Parc"
          name="numeroDuRapport" [(ngModel)]="badge.numeroParc"
          (ngModelChange)="saveForm()"
          class="bg-gray-50 border border-gray-800 text-gray-800 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5" />
      </div>

      <!-- Bouton Enregistrer -->
      <div class="flex justify-end col-start-3">
        <button type="button" (click)="save()"
          class="mt-4 flex items-center gap-2 text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-6 py-2.5 text-center">
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>
