<div class="px-4 py-10 bg-white/80 dark:bg-gray-800/80 backdrop-blur-md">
  <div
    class="max-w-4xl p-8 mx-auto shadow-md bg-white/80 dark:bg-gray-800/80 backdrop-blur-md rounded-2xl">
    <div class="flex items-center gap-6">
      <div
        class="flex items-center justify-center w-24 h-24 text-3xl rounded-full dark:text-white bg-white/70 dark:bg-gray-700/80">
        {{ utilisateur.nom[0].toUpperCase() }}{{ utilisateur.prenom[0] }}
      </div>
      <div>
        <h2 class="text-2xl font-bold dark:text-white">{{ utilisateur.nom }} {{
          utilisateur.prenom }}</h2>
        <p class="dark:text-white">Role: {{ utilisateur.role }}</p>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-6 md:grid-cols-2">
      <div>
        <label class="block dark:text-white">Nom d'utilisateur</label>
        <p class="mt-1 font-medium dark:text-white">{{ utilisateur.userName
          }}</p>
      </div>
      <div>
        <label class="block dark:text-white">Email</label>
        <p class="mt-1 font-medium dark:text-white">{{ utilisateur.email }}</p>
      </div>
      <div>
        <label class="block dark:text-white">Statut</label>
        <p class="mt-1">
          <span class="px-2 py-1 rounded-full text-sm font-semibold
            {{ utilisateur.active ? 'bg-green-100 text-green-700' : 'bg-red-100 text-red-700' }}">
            {{ utilisateur.active ? 'Actif' : 'Inactif' }}
          </span>
        </p>
      </div>

      <div>
        <label class="block dark:text-white">Signature</label>
        <p class="mt-1 font-medium dark:text-white">
          {{ utilisateur.signature ?? 'Non définie' }}
        </p>
      </div>
      <div class="md:col-span-2">
        <label class="block dark:text-white">Inspection associée</label>
        <p class="mt-1 font-medium dark:text-white">
          {{ utilisateur.inspection?.nom ?? 'Aucune' }}
        </p>
      </div>

    </div>
    <button type="submit"
      class="mt-4 flex items-center gap-2 dark:text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-6 py-2.5 text-center dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700">
      Modifier
    </button>
  </div>
</div>
