<div class="min-h-screen bg-gray-50">
  <div class="flex flex-col min-h-screen md:flex-row">
    <!-- Partie gauche avec graphisme - Pleine hauteur -->
    <div
      class="relative flex flex-col w-full p-8 overflow-hidden bg-gradient-to-b from-blue-50 to-blue-100 md:w-1/2">
      <!-- Zone décorative supérieure -->
      <div
        class="absolute top-0 left-0 w-full h-1/3 bg-gradient-to-r from-blue-200 to-blue-300 opacity-30"></div>

      <!-- Formes géométriques décoratives -->
      <svg class="absolute top-0 left-0 w-full h-full opacity-10"
        viewBox="0 0 500 500" preserveAspectRatio="none">
        <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z"
          class="text-white fill-current"></path>
      </svg>

      <div
        class="absolute top-0 right-0 w-32 h-32 -mt-16 -mr-16 bg-blue-200 rounded-full opacity-20"></div>
      <div
        class="absolute bottom-0 left-0 w-32 h-32 -mb-16 -ml-16 bg-blue-200 rounded-full opacity-20"></div>
      <div
        class="absolute w-24 h-24 transform rotate-45 bg-blue-300 rounded-lg bottom-20 right-20 opacity-30"></div>

      <!-- Première ligne : Titre -->
      <div class="relative z-10 flex items-center justify-center h-1/6">
        <h1 class="text-4xl font-bold text-gray-800">CERTIPORT</h1>
      </div>

      <!-- Deuxième ligne : Image avec fond assombri -->
      <div
        class="relative z-10 flex items-center justify-center mt-4 rounded-lg h-5/6 bg-opacity-30">
        <img src="assets/logo_env_dev.jpeg"
          class="object-contain w-full h-full max-h-[60vh]">
      </div>
    </div>

    <!-- Partie droite avec formulaire - Pleine hauteur -->
    <div class="flex items-center justify-center w-full p-8 md:w-1/2 md:p-12">
      <!-- Conteneur du formulaire -->
      <div class="w-full max-w-md">
        <!-- Formulaire principal de connexion -->
        <form
          [ngClass]="{'animate-slide-in-right': currentStep === 1, 'hidden': currentStep !== 1}"
          class="w-full">
          <h2 class="mb-8 text-3xl font-bold text-gray-800">Portail de
            Connexion</h2>
          <p class="mb-8 text-sm text-gray-800">Veuillez vous identifier pour
            accéder à la plateforme CERTIPORT</p>
          <div class="mb-6">
            <label for="username"
              class="block mb-2 text-sm font-medium text-gray-700">
              Nom d'utilisateur
            </label>
            <input type="text" id="username" name="username"
              [(ngModel)]="username"
              class="block w-full p-3 text-lg text-gray-800 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
              placeholder="votre.nom" required />
          </div>

          <div class="mb-6">
            <label for="password"
              class="block mb-2 text-sm font-medium text-gray-700">
              Mot de passe
            </label>
            <input type="password" id="password" name="password"
              [(ngModel)]="motDePasse" placeholder="••••••••"
              class="block w-full p-3 text-lg text-gray-800 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
              required />
          </div>

          <button type="submit" (click)="login()"
            class="w-full px-5 py-3 text-lg font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
            Se connecter
          </button>
          <div class="mt-6 text-right">
            <button type="button" (click)="goToStep(2)"
              class="text-sm text-gray-800 hover:text-gray-600">
              Mot de passe oublié ?
            </button>
          </div>
          <div class="mt-6 text-center">
            <p class="text-gray-800">&copy; 2025 CERTIPORT - Tous droits
              réservés . Politique de
              confidentialité . Conditions d'utilisation</p>
          </div>
        </form>

        <!-- Formulaire OTP -->
        <form
          [ngClass]="{'animate-slide-in-right': currentStep === 2, 'hidden': currentStep !== 2}"
          class="w-full">
          <h2 class="mb-8 text-3xl font-bold text-gray-800">Vérification</h2>

          <div class="mb-6">
            <label for="otp"
              class="block mb-2 text-sm font-medium text-gray-700">
              Code OTP
            </label>
            <input type="text" id="otp" name="otp" [(ngModel)]="otpCode"
              class="block w-full p-3 text-lg text-gray-800 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Entrez le code reçu" required />
          </div>

          <div class="mb-6 text-right">
            <button type="button" (click)="goToStep(1)"
              class="text-sm text-blue-600 hover:text-blue-800">
              Retour à la connexion
            </button>
          </div>

          <button type="button" (click)="verifyOtp()"
            class="w-full px-5 py-3 text-lg font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
            Vérifier le code
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="authError$ | async as error">
  <app-toast type="danger"
    message="Connexion refusé vérifiez vos informations!"></app-toast>
</ng-container>
