
<div
  class="flex items-center justify-center h-screen bg-gradient-to-br from-blue-400 via-green-300 to-yellow-200 dark:from-blue-700 dark:via-green-600 dark:to-yellow-400">
  <form
    class="w-full max-w-sm p-6 mx-auto shadow-xl bg-white/80 dark:bg-gray-800/80 backdrop-blur-md rounded-2xl">
    <div class="mb-5">
      <label for="username"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100">Nom
        d'utilisateur</label>
      <input type="text" id="username" name="username" [(ngModel)]="username"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-400"
        placeholder="username" required />
    </div>
    <div class="mb-5">
      <label for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100">Mot
        de passe</label>
      <input type="password" id="password" name="password"
        [(ngModel)]="motDePasse" placeholder="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-400"
        required />
    </div>

    <button type="submit" (click)="login()"
      class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700">
      Soumettre
    </button>
  </form>
</div>

<ng-container *ngIf="authError$ | async as error">
  <app-toast type="danger"
    message="Connexion refusé vérifiez vos informations!"></app-toast>
</ng-container>
