/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slide-in-left {
    animation: slideInLeft 0.4s ease-out;
  }
  .animate-slide-in-right {
    animation: slideInRight 0.4s ease-out;
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
